asgiref==3.11.1
certifi==2026.2.25
charset-normalizer==3.4.6
Django==6.0.3
httplib2==0.31.2
idna==3.11
markdown-it-py==3.0.0
markdown_pdf==1.13.1
mdurl==0.1.2
pillow==12.1.1
plantuml==0.3.0
PyMuPDF==1.27.2.2
pyparsing==3.3.2
razorpay==2.0.1
requests==2.32.5
six==1.17.0
sqlparse==0.5.5
tzdata==2025.3
urllib3==2.6.3
